* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;

}

body {
    margin-top: 20px;
    background-color: black;
}

header {
    height: 60px;
    display: flex;
    background-color: #121212;
    justify-content: space-around;
    align-items: center;
}

#search {
    width: 60%;
}

#menu, #imdbPro, #watchlist, #sign {
    color: white;
}

#imdb {
    width: 64px;
    height: 32px;
}

.hover:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#first, #second {
    display: flex;
    padding: 2rem;
}
/* Swipers */

/* Swiper 1 */
.s1 .swiper {
    width: 100%;
    height: 100%;
}

.s1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.s1 .swiper-slide img {
    display: block;
    object-fit: cover;
}

.s1 .divBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 2vw;
    color: white;
    display: flex;
    align-items: flex-end;
}

.s1 .swiper-slide a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* Swiper 2 */

.s2 .swiper {
    width: 100%;
    height: 100%;
}

.s2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.s2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside {
    width: 40%;
}

#socialNetworks {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;

}

#socialNetworks i, .condition a {
    margin: 2rem;
    color: white;
}

.condition {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.condition i, #amazon i  {
    font-size: 1rem;
    margin: 0.8rem;
}

#amazon {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#amazon i {
    font-size: 2rem;
}

#copyright {
    color: white;
    text-align: center;
}




