* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;

}

body {
    margin-top: 20px;
    background-color: black;
}

header {
    height: 60px;
    display: flex;
    background-color: #121212;
    justify-content: space-around;
    align-items: center;
}

#search {
    width: 60%;
}

#menu, #imdbPro, #watchlist, .sign {
    color: white;
}

#imdb {
    width: 64px;
    height: 32px;
}

.hover:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#first, #second {
    display: flex;
    padding: 2rem;
}
/* Swipers */

/* Swiper 1 */
#first .swiper {
    width: 100%;
    height: 100%;
}

.s1 .swiper-slide {
    text-align: center;
    font-size: 18px;
}

.s1 .swiper-slide img {
    display: block;
    object-fit: cover;
}

.s1 .divBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 2vw;
    color: white;
    display: flex;
    align-items: flex-end;
}

.s1 .swiper-slide a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* Swiper 2 */

.title_carousel {
    margin: 2rem;
    font-size: 3rem;
    color: yellow;
}

#watch {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1rem;
}

.subtitle {
    border-left: 3px solid yellow;
    margin: 2rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.comm , #sign {
    margin: 2rem;
    font-size: 2rem;
}

.s2 {
    width: 60%;
    margin: 2rem;
}

.s2 .swiper-slide {
    font-size: 18px;
    background: #fff;

}

.s2 .swiper-slide img {
    width: 100%;
    height: 100%;
}

/* Swiper3 */

.s3 {
    width: 60%;
    margin: 2rem;
}

.s3 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

}

.s3 .swiper-slide img {
    display: block;
    width: 100%;
}


aside {
    width: 40%;
}

/* Swiper fan favourites */

.s4 {
    width: 100%;
    height: 100%;
}

.s4 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.s4 .swiper-slide img {
    width: 100%;
    height: 100%;
}

/* Swiper exclusive videos */
.s5 {
    width: 60%;
    height: 100%;
}

.s5 .swiper-slide {
    background-position: center;
    background-size: cover;
    /*width: 100px;*/
    /*height: 300px;*/
}

.s5 .swiper-slide img {
    display: block;
    width: 100%;
}

/* Swiper Explore what's streaming */
.s6 {
    width: 30%;
    height: 100%;
}

.s6 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.s6 .swiper-slide img {
    width: 100%;
    height: 100%;
}


/* footer */
#socialNetworks {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;

}

#socialNetworks i, .condition a {
    margin: 2rem;
    color: white;
}

.condition {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.condition i, #amazon i  {
    font-size: 1rem;
    margin: 0.8rem;
}

#amazon {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#amazon i {
    font-size: 2rem;
}

#copyright {
    color: white;
    text-align: center;
}




